@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /*  Rubik font */

html {
    /* custom colors */
    --dark-orange: rgb(179, 86, 11);
    --very-dark-orange: rgb(160, 80, 15);
    --light-orange: rgba(185, 127, 80, 0.568);
    --light-grey: rgba(123, 175, 158, 0.486);
    --dark-grey: rgb(57, 82, 74);
    --dark-green: rgba(28, 129, 21, 0.678);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

    font-family: 'Rubik', sans-serif;
    background-color: rgba(123, 175, 158, 0.123);
}


h1#headline { /* Title (Sorting Visualizer) */
    text-align: center;
    background-color: var(--light-grey);
    margin: 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#sort-buttons-container {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


div#array-changer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

div#size-changer-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

div#wrapper {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div#visualizer-container {
    display: flex;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 80px;
    margin-bottom: 20px;
    height: 60vh;
}

div#sorting-info {
    position: relative;
    top: 50px;
    left: 200px;
}

.array-bar { /* vertical bar representing a value of the array */ 
    display: flex;
    flex: 1;
    background-color: var(--light-orange);
    margin: 0 1px;
    justify-content: center;
    align-self: flex-end;
}

.number {
    display: none;
    align-self: flex-end;
    /*
    visibility: hidden;
    align-self: flex-end;
    */
}


.array-bar-hover-effect:hover {
    background-color: var(--dark-orange);
    box-shadow: 0 0 15px var(--dark-grey);
}

/* Buttons */

.custom-button {
    margin: 2px 8px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    padding: 6px 12px;
}

.custom-button:hover:enabled {
    cursor: pointer;
    box-shadow: 0 0 15px var(--dark-grey);
}



.custom-button:disabled {
    background-color: lightgrey;
    color: darkgrey;
}

.sort-button {
    background-color: var(--dark-orange);
    color: white;
}
/*
.sort-button:hover:enabled, .sort-button:focus:enabled {
    
}

.reset-button:hover:enabled, .reset-button:focus:enabled {

}
*/

.reset-button {
    background-color: var(--dark-grey);
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.custom-button:active:enabled {
    box-shadow: 0 0 15px var(--dark-grey);
}

.size-button {
    width: 40px;
    height: 30px;
}

.size-button:disabled {
    background-color: lightgrey;
    color: darkgrey;
}

.minus-size-button {
    background-color: rgba(179, 0, 0, 0.753);
    color: white;
}

.plus-size-button {
    background-color: rgba(12, 109, 44, 0.705);
    color: white;;
}


@media only screen and (max-width: 768px) {
    div#visualizer-container {
      margin-top: 20px;
      margin-right: 10px;
      margin-left: 10px;
    }

    div#sorting-info {
        left: 20px;
    }
}